In [13]:
%pylab inline
import matplotlib.pyplot as plt
import pandas as pd

import numpy as np

Populating the interactive namespace from numpy and matplotlib

In [16]:
#load BLS Jolt data files and join using pandas
#allitems.csv
allitems_df = pd.read_csv('data/allitems.csv')
allitems_df

                series_id  year period   value footnote_codes
0       JTS00000000HIL     2000    M12  5395.0
1       JTS00000000HIL     2001    M01  5801.0
2       JTS00000000HIL     2001    M02  5434.0
3       JTS00000000HIL     2001    M03  5619.0
4       JTS00000000HIL     2001    M04  5335.0
5       JTS00000000HIL     2001    M05  5358.0
6       JTS00000000HIL     2001    M06  5083.0
7       JTS00000000HIL     2001    M07  5173.0
8       JTS00000000HIL     2001    M08  5076.0
9       JTS00000000HIL     2001    M09  4961.0
10      JTS00000000HIL     2001    M10  5016.0
11      JTS00000000HIL     2001    M11  4887.0
12      JTS00000000HIL     2001    M12  4788.0
13      JTS00000000HIL     2002    M01  4900.0
14      JTS00000000HIL     2002    M02  4883.0
15      JTS00000000HIL     2002    M03  4626.0
16      JTS00000000HIL     2002    M04  4930.0
17      JTS00000000HIL     2002    M05  4923.0
18      JTS00000000HIL     2002    M06  4821.0
19      JTS00000000HIL     2002    M07  5014.0
20      JTS00000000HIL     2002    M08  4881.0
21      JTS00000000HIL     2002    M09  4870.0
22      JTS00000000HIL     2002    M10  4803.0
23      JTS00000000HIL     2002    M11  4941.0
24      JTS00000000HIL     2002    M12  4930.0
25      JTS00000000HIL     2003    M01  5008.0
26      JTS00000000HIL     2003    M02  4681.0
27      JTS00000000HIL     2003    M03  4444.0
28      JTS00000000HIL     2003    M04  4689.0
29      JTS00000000HIL     2003    M05  4618.0
...                   ...   ...    ...     ...            ...
101910  JTU92000000TSR     2013    M09     1.6
101911  JTU92000000TSR     2013    M10     1.1
101912  JTU92000000TSR     2013    M11     0.8
101913  JTU92000000TSR     2013    M12     1.2
101914  JTU92000000TSR     2013    M13    16.1
101915  JTU92000000TSR     2014    M01     1.2
101916  JTU92000000TSR     2014    M02     0.8
101917  JTU92000000TSR     2014    M03     0.9
101918  JTU92000000TSR     2014    M04     0.8
101919  JTU92000000TSR     2014    M05     1.7
101920  JTU92000000TSR     2014    M06     2.2
101921  JTU92000000TSR     2014    M07     1.8
101922  JTU92000000TSR     2014    M08     2.2
101923  JTU92000000TSR     2014    M09     1.7
101924  JTU92000000TSR     2014    M10     1.1
101925  JTU92000000TSR     2014    M11     0.9
101926  JTU92000000TSR     2014    M12     1.2
101927  JTU92000000TSR     2014    M13    16.4
101928  JTU92000000TSR     2015    M01     1.3
101929  JTU92000000TSR     2015    M02     0.9
101930  JTU92000000TSR     2015    M03     1.0
101931  JTU92000000TSR     2015    M04     1.0
101932  JTU92000000TSR     2015    M05     1.8
101933  JTU92000000TSR     2015    M06     2.5
101934  JTU92000000TSR     2015    M07     2.1
101935  JTU92000000TSR     2015    M08     2.4
101936  JTU92000000TSR     2015    M09     1.7
101937  JTU92000000TSR     2015    M10     1.3
101938  JTU92000000TSR     2015    M11     1.0
101939  JTU92000000TSR     2015    M12     1.4              p

[101940 rows x 5 columns]

In [17]:
#series.csv
series_df = pd.read_csv('data/series.csv')
series_df

,series_id,seasonal,industry_code,region_code,dataelement_code,ratelevel_code,footnote_codes,begin_year,begin_period,end_year,end_period
0,JTS00000000HIL,S,0,0,HI,L,,2000,M12,2015,M12
1,JTS00000000HIR,S,0,0,HI,R,,2000,M12,2015,M12
2,JTS00000000JOL,S,0,0,JO,L,,2000,M12,2015,M12
3,JTS00000000JOR,S,0,0,JO,R,,2000,M12,2015,M12
4,JTS00000000LDL,S,0,0,LD,L,,2000,M12,2015,M12
5,JTS00000000LDR,S,0,0,LD,R,,2000,M12,2015,M12
6,JTS00000000OSL,S,0,0,OS,L,,2000,M12,2015,M12
7,JTS00000000OSR,S,0,0,OS,R,,2000,M12,2015,M12
8,JTS00000000QUL,S,0,0,QU,L,,2000,M12,2015,M12
9,JTS00000000QUR,S,0,0,QU,R,,2000,M12,2015,M12
10,JTS00000000TSL,S,0,0,TS,L,,2000,M12,2015,M12
11,JTS00000000TSR,S,0,0,TS,R,,2000,M12,2015,M12
12,JTS000000MWHIL,S,0,MW,HI,L,,2000,M12,2015,M12
13,JTS000000MWHIR,S,0,MW,HI,R,,2000,M12,2015,M12
14,JTS000000MWJOL,S,0,MW,JO,L,,2000,M12,2015,M12
15,JTS000000MWJOR,S,0,MW,JO,R,,2000,M12,2015,M12
16,JTS000000MWLDL,S,0,MW,LD,L,,2000,M12,2015,M12
17,JTS000000MWLDR,S,0,MW,LD,R,,2000,M12,2015,M12
18,JTS000000MWQUL,S,0,MW,QU,L,,2000,M12,2015,M12
19,JTS000000MWQUR,S,0,MW,QU,R,,2000,M12,2015,M12
20,JTS000000MWTSL,S,0,MW,TS,L,,2000,M12,2015,M12
21,JTS000000MWTSR,S,0,MW,TS,R,,2000,M12,2015,M12
22,JTS000000NEHIL,S,0,NE,HI,L,,2000,M12,2015,M12
23,JTS000000NEHIR,S,0,NE,HI,R,,2000,M12,2015,M12
24,JTS000000NEJOL,S,0,NE,JO,L,,2000,M12,2015,M12
25,JTS000000NEJOR,S,0,NE,JO,R,,2000,M12,2015,M12
26,JTS000000NELDL,S,0,NE,LD,L,,2000,M12,2015,M12
27,JTS000000NELDR,S,0,NE,LD,R,,2000,M12,2015,M12
28,JTS000000NEQUL,S,0,NE,QU,L,,2000,M12,2015,M12
29,JTS000000NEQUR,S,0,NE,QU,R,,2000,M12,2015,M12
...,...,...,...,...,...,...,...,...,...,...,...
510,JTU90000000OSL,U,900000,0,OS,L,,2000,M12,2015,M12
511,JTU90000000OSR,U,900000,0,OS,R,,2000,M12,2015,M12
512,JTU90000000QUL,U,900000,0,QU,L,,2000,M12,2015,M12
513,JTU90000000QUR,U,900000,0,QU,R,,2000,M12,2015,M12
514,JTU90000000TSL,U,900000,0,TS,L,,2000,M12,2015,M12
515,JTU90000000TSR,U,900000,0,TS,R,,2000,M12,2015,M12
516,JTU91000000HIL,U,910000,0,HI,L,,2000,M12,2015,M12
517,JTU91000000HIR,U,910000,0,HI,R,,2000,M12,2015,M12
518,JTU91000000JOL,U,910000,0,JO,L,,2000,M12,2015,M12
519,JTU91000000JOR,U,910000,0,JO,R,,2000,M12,2015,M12
520,JTU91000000LDL,U,910000,0,LD,L,,2000,M12,2015,M12
521,JTU91000000LDR,U,910000,0,LD,R,,2000,M12,2015,M12
522,JTU91000000OSL,U,910000,0,OS,L,,2000,M12,2015,M12
523,JTU91000000OSR,U,910000,0,OS,R,,2000,M12,2015,M12
524,JTU91000000QUL,U,910000,0,QU,L,,2000,M12,2015,M12
525,JTU91000000QUR,U,910000,0,QU,R,,2000,M12,2015,M12
526,JTU91000000TSL,U,910000,0,TS,L,,2000,M12,2015,M12
527,JTU91000000TSR,U,910000,0,TS,R,,2000,M12,2015,M12
528,JTU92000000HIL,U,920000,0,HI,L,,2000,M12,2015,M12
529,JTU92000000HIR,U,920000,0,HI,R,,2000,M12,2015,M12
530,JTU92000000JOL,U,920000,0,JO,L,,2000,M12,2015,M12
531,JTU92000000JOR,U,920000,0,JO,R,,2000,M12,2015,M12
532,JTU92000000LDL,U,920000,0,LD,L,,2000,M12,2015,M12
533,JTU92000000LDR,U,920000,0,LD,R,,2000,M12,2015,M12
534,JTU92000000OSL,U,920000,0,OS,L,,2000,M12,2015,M12
535,JTU92000000OSR,U,920000,0,OS,R,,2000,M12,2015,M12
536,JTU92000000QUL,U,920000,0,QU,L,,2000,M12,2015,M12
537,JTU92000000QUR,U,920000,0,QU,R,,2000,M12,2015,M12
538,JTU92000000TSL,U,920000,0,TS,L,,2000,M12,2015,M12
539,JTU92000000TSR,U,920000,0,TS,R,,2000,M12,2015,M12

In [22]:
#join all items and series data

joined_all_df = pd.merge(left=allitems_df,right=series_df, left_on='series_id', right_on='series_id')
print joined_all_df.shape
joined_all_df

(101940, 15)

,series_id,year,period,value,footnote_codes_x,seasonal,industry_code,region_code,dataelement_code,ratelevel_code,footnote_codes_y,begin_year,begin_period,end_year,end_period
0,JTS00000000HIL,2000,M12,5395.0,,S,0,0,HI,L,,2000,M12,2015,M12
1,JTS00000000HIL,2001,M01,5801.0,,S,0,0,HI,L,,2000,M12,2015,M12
2,JTS00000000HIL,2001,M02,5434.0,,S,0,0,HI,L,,2000,M12,2015,M12
3,JTS00000000HIL,2001,M03,5619.0,,S,0,0,HI,L,,2000,M12,2015,M12
4,JTS00000000HIL,2001,M04,5335.0,,S,0,0,HI,L,,2000,M12,2015,M12
5,JTS00000000HIL,2001,M05,5358.0,,S,0,0,HI,L,,2000,M12,2015,M12
6,JTS00000000HIL,2001,M06,5083.0,,S,0,0,HI,L,,2000,M12,2015,M12
7,JTS00000000HIL,2001,M07,5173.0,,S,0,0,HI,L,,2000,M12,2015,M12
8,JTS00000000HIL,2001,M08,5076.0,,S,0,0,HI,L,,2000,M12,2015,M12
9,JTS00000000HIL,2001,M09,4961.0,,S,0,0,HI,L,,2000,M12,2015,M12
10,JTS00000000HIL,2001,M10,5016.0,,S,0,0,HI,L,,2000,M12,2015,M12
11,JTS00000000HIL,2001,M11,4887.0,,S,0,0,HI,L,,2000,M12,2015,M12
12,JTS00000000HIL,2001,M12,4788.0,,S,0,0,HI,L,,2000,M12,2015,M12
13,JTS00000000HIL,2002,M01,4900.0,,S,0,0,HI,L,,2000,M12,2015,M12
14,JTS00000000HIL,2002,M02,4883.0,,S,0,0,HI,L,,2000,M12,2015,M12
15,JTS00000000HIL,2002,M03,4626.0,,S,0,0,HI,L,,2000,M12,2015,M12
16,JTS00000000HIL,2002,M04,4930.0,,S,0,0,HI,L,,2000,M12,2015,M12
17,JTS00000000HIL,2002,M05,4923.0,,S,0,0,HI,L,,2000,M12,2015,M12
18,JTS00000000HIL,2002,M06,4821.0,,S,0,0,HI,L,,2000,M12,2015,M12
19,JTS00000000HIL,2002,M07,5014.0,,S,0,0,HI,L,,2000,M12,2015,M12
20,JTS00000000HIL,2002,M08,4881.0,,S,0,0,HI,L,,2000,M12,2015,M12
21,JTS00000000HIL,2002,M09,4870.0,,S,0,0,HI,L,,2000,M12,2015,M12
22,JTS00000000HIL,2002,M10,4803.0,,S,0,0,HI,L,,2000,M12,2015,M12
23,JTS00000000HIL,2002,M11,4941.0,,S,0,0,HI,L,,2000,M12,2015,M12
24,JTS00000000HIL,2002,M12,4930.0,,S,0,0,HI,L,,2000,M12,2015,M12
25,JTS00000000HIL,2003,M01,5008.0,,S,0,0,HI,L,,2000,M12,2015,M12
26,JTS00000000HIL,2003,M02,4681.0,,S,0,0,HI,L,,2000,M12,2015,M12
27,JTS00000000HIL,2003,M03,4444.0,,S,0,0,HI,L,,2000,M12,2015,M12
28,JTS00000000HIL,2003,M04,4689.0,,S,0,0,HI,L,,2000,M12,2015,M12
29,JTS00000000HIL,2003,M05,4618.0,,S,0,0,HI,L,,2000,M12,2015,M12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101910,JTU92000000TSR,2013,M09,1.6,,U,920000,0,TS,R,,2000,M12,2015,M12
101911,JTU92000000TSR,2013,M10,1.1,,U,920000,0,TS,R,,2000,M12,2015,M12
101912,JTU92000000TSR,2013,M11,0.8,,U,920000,0,TS,R,,2000,M12,2015,M12
101913,JTU92000000TSR,2013,M12,1.2,,U,920000,0,TS,R,,2000,M12,2015,M12
101914,JTU92000000TSR,2013,M13,16.1,,U,920000,0,TS,R,,2000,M12,2015,M12
101915,JTU92000000TSR,2014,M01,1.2,,U,920000,0,TS,R,,2000,M12,2015,M12
101916,JTU92000000TSR,2014,M02,0.8,,U,920000,0,TS,R,,2000,M12,2015,M12
101917,JTU92000000TSR,2014,M03,0.9,,U,920000,0,TS,R,,2000,M12,2015,M12
101918,JTU92000000TSR,2014,M04,0.8,,U,920000,0,TS,R,,2000,M12,2015,M12
101919,JTU92000000TSR,2014,M05,1.7,,U,920000,0,TS,R,,2000,M12,2015,M12
101920,JTU92000000TSR,2014,M06,2.2,,U,920000,0,TS,R,,2000,M12,2015,M12
101921,JTU92000000TSR,2014,M07,1.8,,U,920000,0,TS,R,,2000,M12,2015,M12
101922,JTU92000000TSR,2014,M08,2.2,,U,920000,0,TS,R,,2000,M12,2015,M12
101923,JTU92000000TSR,2014,M09,1.7,,U,920000,0,TS,R,,2000,M12,2015,M12
101924,JTU92000000TSR,2014,M10,1.1,,U,920000,0,TS,R,,2000,M12,2015,M12
101925,JTU92000000TSR,2014,M11,0.9,,U,920000,0,TS,R,,2000,M12,2015,M12
101926,JTU92000000TSR,2014,M12,1.2,,U,920000,0,TS,R,,2000,M12,2015,M12
101927,JTU92000000TSR,2014,M13,16.4,,U,920000,0,TS,R,,2000,M12,2015,M12
101928,JTU92000000TSR,2015,M01,1.3,,U,920000,0,TS,R,,2000,M12,2015,M12
101929,JTU92000000TSR,2015,M02,0.9,,U,920000,0,TS,R,,2000,M12,2015,M12
101930,JTU92000000TSR,2015,M03,1.0,,U,920000,0,TS,R,,2000,M12,2015,M12
101931,JTU92000000TSR,2015,M04,1.0,,U,920000,0,TS,R,,2000,M12,2015,M12
101932,JTU92000000TSR,2015,M05,1.8,,U,920000,0,TS,R,,2000,M12,2015,M12
101933,JTU92000000TSR,2015,M06,2.5,,U,920000,0,TS,R,,2000,M12,2015,M12
101934,JTU92000000TSR,2015,M07,2.1,,U,920000,0,TS,R,,2000,M12,2015,M12
101935,JTU92000000TSR,2015,M08,2.4,,U,920000,0,TS,R,,2000,M12,2015,M12
101936,JTU92000000TSR,2015,M09,1.7,,U,920000,0,TS,R,,2000,M12,2015,M12
101937,JTU92000000TSR,2015,M10,1.3,,U,920000,0,TS,R,,2000,M12,2015,M12
101938,JTU92000000TSR,2015,M11,1.0,,U,920000,0,TS,R,,2000,M12,2015,M12
101939,JTU92000000TSR,2015,M12,1.4,p,U,920000,0,TS,R,,2000,M12,2015,M12

In [23]:
#dataelement.csv
dataelement_df = pd.read_csv('data/dataelement.csv')
dataelement_df

,dataelement_code,dataelement_text,display_level,selectable,sort_sequence
0,HI,Hires,0,T,2
1,JO,Job openings,0,T,1
2,LD,Layoffs and discharges,1,T,5
3,OS,Other separations,1,T,6
4,QU,Quits,1,T,4
5,TS,Total separations,0,T,3

In [24]:
joined_all_df = pd.merge(left=joined_all_df,right=dataelement_df, left_on='dataelement_code', right_on='dataelement_code')
print joined_all_df.shape
joined_all_df

(101940, 19)

,series_id,year,period,value,footnote_codes_x,seasonal,industry_code,region_code,dataelement_code,ratelevel_code,footnote_codes_y,begin_year,begin_period,end_year,end_period,dataelement_text,display_level,selectable,sort_sequence
0,JTS00000000HIL,2000,M12,5395.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
1,JTS00000000HIL,2001,M01,5801.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
2,JTS00000000HIL,2001,M02,5434.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
3,JTS00000000HIL,2001,M03,5619.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
4,JTS00000000HIL,2001,M04,5335.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
5,JTS00000000HIL,2001,M05,5358.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
6,JTS00000000HIL,2001,M06,5083.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
7,JTS00000000HIL,2001,M07,5173.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
8,JTS00000000HIL,2001,M08,5076.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
9,JTS00000000HIL,2001,M09,4961.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
10,JTS00000000HIL,2001,M10,5016.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
11,JTS00000000HIL,2001,M11,4887.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
12,JTS00000000HIL,2001,M12,4788.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
13,JTS00000000HIL,2002,M01,4900.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
14,JTS00000000HIL,2002,M02,4883.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
15,JTS00000000HIL,2002,M03,4626.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
16,JTS00000000HIL,2002,M04,4930.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
17,JTS00000000HIL,2002,M05,4923.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
18,JTS00000000HIL,2002,M06,4821.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
19,JTS00000000HIL,2002,M07,5014.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
20,JTS00000000HIL,2002,M08,4881.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
21,JTS00000000HIL,2002,M09,4870.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
22,JTS00000000HIL,2002,M10,4803.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
23,JTS00000000HIL,2002,M11,4941.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
24,JTS00000000HIL,2002,M12,4930.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
25,JTS00000000HIL,2003,M01,5008.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
26,JTS00000000HIL,2003,M02,4681.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
27,JTS00000000HIL,2003,M03,4444.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
28,JTS00000000HIL,2003,M04,4689.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
29,JTS00000000HIL,2003,M05,4618.0,,S,0,0,HI,L,,2000,M12,2015,M12,Hires,0,T,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101910,JTU92000000TSR,2013,M09,1.6,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101911,JTU92000000TSR,2013,M10,1.1,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101912,JTU92000000TSR,2013,M11,0.8,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101913,JTU92000000TSR,2013,M12,1.2,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101914,JTU92000000TSR,2013,M13,16.1,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101915,JTU92000000TSR,2014,M01,1.2,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101916,JTU92000000TSR,2014,M02,0.8,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101917,JTU92000000TSR,2014,M03,0.9,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101918,JTU92000000TSR,2014,M04,0.8,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101919,JTU92000000TSR,2014,M05,1.7,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101920,JTU92000000TSR,2014,M06,2.2,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101921,JTU92000000TSR,2014,M07,1.8,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101922,JTU92000000TSR,2014,M08,2.2,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101923,JTU92000000TSR,2014,M09,1.7,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101924,JTU92000000TSR,2014,M10,1.1,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101925,JTU92000000TSR,2014,M11,0.9,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101926,JTU92000000TSR,2014,M12,1.2,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101927,JTU92000000TSR,2014,M13,16.4,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101928,JTU92000000TSR,2015,M01,1.3,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101929,JTU92000000TSR,2015,M02,0.9,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101930,JTU92000000TSR,2015,M03,1.0,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101931,JTU92000000TSR,2015,M04,1.0,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101932,JTU92000000TSR,2015,M05,1.8,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101933,JTU92000000TSR,2015,M06,2.5,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101934,JTU92000000TSR,2015,M07,2.1,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101935,JTU92000000TSR,2015,M08,2.4,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101936,JTU92000000TSR,2015,M09,1.7,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101937,JTU92000000TSR,2015,M10,1.3,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101938,JTU92000000TSR,2015,M11,1.0,,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3
101939,JTU92000000TSR,2015,M12,1.4,p,U,920000,0,TS,R,,2000,M12,2015,M12,Total separations,0,T,3

In [32]:
#region
region_df = pd.read_csv('data/region.csv')
#ratelevel
ratelevel_df = pd.read_csv('data/ratelevel.csv')
#industry
industry_df = pd.read_csv('data/industry.csv')
#print industry_df
#seasonal
seasonal_df = pd.read_csv('data/seasonal.csv')
#print seasonal_df
#footnote
footnote_df = pd.read_csv('data/footnote.csv')

In [33]:
#join region
joined_all_df = pd.merge(left=joined_all_df,right=region_df, left_on='region_code', right_on='region_code')
#join ratelevel
joined_all_df = pd.merge(left=joined_all_df,right=ratelevel_df, left_on='ratelevel_code', right_on='ratelevel_code')
#join industry
joined_all_df = pd.merge(left=joined_all_df,right=industry_df, left_on='industry_code', right_on='industry_code')
#join seasonal
joined_all_df = pd.merge(left=joined_all_df,right=seasonal_df, left_on='seasonal', right_on='industry_code')
print joined_all_df.shape
joined_all_df

(101940, 33)

,series_id,year,period,value,footnote_codes_x,seasonal,industry_code_x,region_code,dataelement_code,ratelevel_code,...,ratelevel_text,display_level_x,selectable_x,sort_sequence_x,industry_text,display_level_y,selectable_y,sort_sequence_y,industry_code_y,seasonal_text
0,JTS00000000HIL,2000,M12,5395.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
1,JTS00000000HIL,2001,M01,5801.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
2,JTS00000000HIL,2001,M02,5434.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
3,JTS00000000HIL,2001,M03,5619.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
4,JTS00000000HIL,2001,M04,5335.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
5,JTS00000000HIL,2001,M05,5358.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
6,JTS00000000HIL,2001,M06,5083.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
7,JTS00000000HIL,2001,M07,5173.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
8,JTS00000000HIL,2001,M08,5076.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
9,JTS00000000HIL,2001,M09,4961.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
10,JTS00000000HIL,2001,M10,5016.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
11,JTS00000000HIL,2001,M11,4887.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
12,JTS00000000HIL,2001,M12,4788.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
13,JTS00000000HIL,2002,M01,4900.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
14,JTS00000000HIL,2002,M02,4883.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
15,JTS00000000HIL,2002,M03,4626.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
16,JTS00000000HIL,2002,M04,4930.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
17,JTS00000000HIL,2002,M05,4923.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
18,JTS00000000HIL,2002,M06,4821.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
19,JTS00000000HIL,2002,M07,5014.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
20,JTS00000000HIL,2002,M08,4881.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
21,JTS00000000HIL,2002,M09,4870.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
22,JTS00000000HIL,2002,M10,4803.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
23,JTS00000000HIL,2002,M11,4941.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
24,JTS00000000HIL,2002,M12,4930.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
25,JTS00000000HIL,2003,M01,5008.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
26,JTS00000000HIL,2003,M02,4681.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
27,JTS00000000HIL,2003,M03,4444.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
28,JTS00000000HIL,2003,M04,4689.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
29,JTS00000000HIL,2003,M05,4618.0,,S,0,0,HI,L,...,Level - In Thousands,0,T,2,Total nonfarm,0,T,1,S,Seasonally adjusted
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101910,JTU91000000TSR,2013,M09,1.3,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101911,JTU91000000TSR,2013,M10,1.5,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101912,JTU91000000TSR,2013,M11,1.0,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101913,JTU91000000TSR,2013,M12,1.1,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101914,JTU91000000TSR,2013,M13,15.7,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101915,JTU91000000TSR,2014,M01,2.2,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101916,JTU91000000TSR,2014,M02,1.0,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101917,JTU91000000TSR,2014,M03,1.1,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101918,JTU91000000TSR,2014,M04,1.0,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101919,JTU91000000TSR,2014,M05,1.1,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101920,JTU91000000TSR,2014,M06,1.2,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101921,JTU91000000TSR,2014,M07,0.8,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101922,JTU91000000TSR,2014,M08,1.0,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101923,JTU91000000TSR,2014,M09,1.4,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101924,JTU91000000TSR,2014,M10,1.3,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101925,JTU91000000TSR,2014,M11,1.1,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101926,JTU91000000TSR,2014,M12,1.0,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101927,JTU91000000TSR,2014,M13,14.1,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101928,JTU91000000TSR,2015,M01,2.3,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101929,JTU91000000TSR,2015,M02,1.0,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101930,JTU91000000TSR,2015,M03,1.2,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101931,JTU91000000TSR,2015,M04,1.2,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101932,JTU91000000TSR,2015,M05,1.4,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101933,JTU91000000TSR,2015,M06,1.2,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101934,JTU91000000TSR,2015,M07,1.3,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101935,JTU91000000TSR,2015,M08,1.4,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101936,JTU91000000TSR,2015,M09,1.4,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101937,JTU91000000TSR,2015,M10,1.6,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101938,JTU91000000TSR,2015,M11,1.4,,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted
101939,JTU91000000TSR,2015,M12,1.3,p,U,910000,0,TS,R,...,Rate,0,T,1,Federal,2,T,25,U,Not seasonally adjusted

In [41]:
#focus on possible columns of interest
joined_all_df.drop(['footnote_codes_x','footnote_codes_y','industry_code_x','region_code','dataelement_code','ratelevel_code',
                    'footnote_code_y','display_level_x','selectable_x','sort_sequence_x','display_level_y',
                    'selectable_y','sort_sequence_y','display_level_x','selectable_x','industry_code_y'], inplace=True,axis=1,errors='ignore'
                    )

In [42]:
#write to csv for now
joined_all_df.to_csv('data/joined_data_all.csv')

In [45]:
#summarize data a bit for exploring
joined_all_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
year,101940,2007.937022,4.337483,2000,2004.0,2008.00,2012,2015
value,101940,387.313269,1720.139514,0,2.2,9.75,288,64472
begin_year,101940,2000.000000,0.000000,2000,2000.0,2000.00,2000,2000
end_year,101940,2015.000000,0.000000,2015,2015.0,2015.00,2015,2015

In [46]:
#summarize object columns
joined_all_df.describe(include=['object']).transpose()

                   count unique                             top    freq
series_id         101940    540               JTU53000000LDR        195
period            101940     13                             M12    8640
seasonal          101940      2                               U   69360
begin_period      101940      1                             M12  101940
end_period        101940      1                             M12  101940
dataelement_text  101940      6                           Hires   18940
region_text       101940      5                        Total US   85452
ratelevel_text    101940      2            Level - In Thousands   50970
industry_text     101940     26                   Total nonfarm   20972
seasonal_text     101940      2  Not seasonally adjusted          69360

In [56]:
#list unique string values for columns for interest
#seasonal
print 'seasonal:'
print pd.unique(joined_all_df.seasonal.ravel())
print 'dataelement_text:'
print pd.unique(joined_all_df.dataelement_text.ravel())
print 'region_text:'
print pd.unique(joined_all_df.region_text.ravel())
print 'ratelevel_text:'
print pd.unique(joined_all_df.ratelevel_text.ravel())
print 'industry_text:'
print pd.unique(joined_all_df.industry_text.ravel())
print 'seasonal_text:'
print pd.unique(joined_all_df.seasonal_text.ravel())

seasonal:
['S' 'U']
dataelement_text:
['Hires' 'Job openings' 'Layoffs and discharges' 'Other separations'
 'Quits' 'Total separations']
region_text:
['Total US' 'Midwest (Only available for Total Nonfarm)'
 'Northeast (Only available for Total Nonfarm)'
 'South (Only available for Total Nonfarm)'
 'West (Only available for Total Nonfarm)']
ratelevel_text:
['Level - In Thousands' 'Rate']
industry_text:
['Total nonfarm' 'Total private' 'Construction' 'Manufacturing'
 'Durable goods manufacturing' 'Nondurable goods manufacturing'
 'Trade, transportation, and utilities' 'Retail trade'
 'Professional and business services' 'Education and health services'
 'Health care and social assistance' 'Leisure and hospitality'
 'Arts, entertainment, and recreation' 'Accommodation and food services'
 'Government' 'State and local' 'Mining and logging' 'Wholesale trade'
 'Transportation, warehousing, and utilities' 'Information'
 'Financial activities' 'Finance and insurance'
 'Real estate and rental and leasing' 'Educational services'
 'Other services' 'Federal']
seasonal_text:
['Seasonally adjusted           ' 'Not seasonally adjusted       ']

In [64]:
# why rates and levels in 1000s - use both or filter to just levels in 1000s?
# More info on rate calculation - http://www.bls.gov/news.release/jolts.tn.htm - might not be useful for this analysis
# but likely useful outside of this prediction exercise
joined_all_df.groupby(['ratelevel_text']).agg(['count'])

,series_id,year,period,value,seasonal,begin_year,begin_period,end_year,end_period,dataelement_text,region_text,industry_text,seasonal_text
,count,count,count,count,count,count,count,count,count,count,count,count,count
ratelevel_text,,,,,,,,,,,,,
Level - In Thousands,50970,50970,50970,50970,50970,50970,50970,50970,50970,50970,50970,50970,50970
Rate,50970,50970,50970,50970,50970,50970,50970,50970,50970,50970,50970,50970,50970

In [68]:
#look at 100 rows with rate by highest
joined_all_df[(joined_all_df.ratelevel_text == 'Rate')].sort_values(by='value', ascending=False).head(100)

,series_id,year,period,value,seasonal,begin_year,begin_period,end_year,end_period,dataelement_text,region_text,ratelevel_text,industry_text,seasonal_text
70741,JTU71000000HIR,2001,M13,99.0,U,2000,M12,2015,M12,Hires,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
71702,JTU71000000TSR,2001,M13,97.9,U,2000,M12,2015,M12,Total separations,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
68429,JTU70000000HIR,2001,M13,91.9,U,2000,M12,2015,M12,Hires,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
69390,JTU70000000TSR,2001,M13,91.7,U,2000,M12,2015,M12,Total separations,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
73053,JTU72000000HIR,2001,M13,90.7,U,2000,M12,2015,M12,Hires,Total US,Rate,Accommodation and food services,Not seasonally adjusted
74014,JTU72000000TSR,2001,M13,90.6,U,2000,M12,2015,M12,Total separations,Total US,Rate,Accommodation and food services,Not seasonally adjusted
70767,JTU71000000HIR,2003,M13,88.7,U,2000,M12,2015,M12,Hires,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
71728,JTU71000000TSR,2003,M13,88.4,U,2000,M12,2015,M12,Total separations,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
70780,JTU71000000HIR,2004,M13,86.5,U,2000,M12,2015,M12,Hires,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
71741,JTU71000000TSR,2004,M13,85.4,U,2000,M12,2015,M12,Total separations,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
73118,JTU72000000HIR,2006,M13,84.9,U,2000,M12,2015,M12,Hires,Total US,Rate,Accommodation and food services,Not seasonally adjusted
70793,JTU71000000HIR,2005,M13,84.5,U,2000,M12,2015,M12,Hires,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
68494,JTU70000000HIR,2006,M13,84.4,U,2000,M12,2015,M12,Hires,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
70754,JTU71000000HIR,2002,M13,83.8,U,2000,M12,2015,M12,Hires,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
68481,JTU70000000HIR,2005,M13,83.7,U,2000,M12,2015,M12,Hires,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
73105,JTU72000000HIR,2005,M13,83.6,U,2000,M12,2015,M12,Hires,Total US,Rate,Accommodation and food services,Not seasonally adjusted
68468,JTU70000000HIR,2004,M13,82.9,U,2000,M12,2015,M12,Hires,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
73131,JTU72000000HIR,2007,M13,82.9,U,2000,M12,2015,M12,Hires,Total US,Rate,Accommodation and food services,Not seasonally adjusted
68507,JTU70000000HIR,2007,M13,82.7,U,2000,M12,2015,M12,Hires,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
73092,JTU72000000HIR,2004,M13,82.3,U,2000,M12,2015,M12,Hires,Total US,Rate,Accommodation and food services,Not seasonally adjusted
74079,JTU72000000TSR,2006,M13,82.2,U,2000,M12,2015,M12,Total separations,Total US,Rate,Accommodation and food services,Not seasonally adjusted
71754,JTU71000000TSR,2005,M13,82.1,U,2000,M12,2015,M12,Total separations,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
69442,JTU70000000TSR,2005,M13,81.9,U,2000,M12,2015,M12,Total separations,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
74066,JTU72000000TSR,2005,M13,81.8,U,2000,M12,2015,M12,Total separations,Total US,Rate,Accommodation and food services,Not seasonally adjusted
70910,JTU71000000HIR,2014,M13,81.7,U,2000,M12,2015,M12,Hires,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
70819,JTU71000000HIR,2007,M13,81.7,U,2000,M12,2015,M12,Hires,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
69455,JTU70000000TSR,2006,M13,81.4,U,2000,M12,2015,M12,Total separations,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
71715,JTU71000000TSR,2002,M13,81.2,U,2000,M12,2015,M12,Total separations,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
68442,JTU70000000HIR,2002,M13,81.0,U,2000,M12,2015,M12,Hires,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
70806,JTU71000000HIR,2006,M13,81.0,U,2000,M12,2015,M12,Hires,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48673,JTU23000000TSR,2008,M13,72.8,U,2000,M12,2015,M12,Total separations,Total US,Rate,Construction,Not seasonally adjusted
68520,JTU70000000HIR,2008,M13,72.6,U,2000,M12,2015,M12,Hires,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
73144,JTU72000000HIR,2008,M13,72.4,U,2000,M12,2015,M12,Hires,Total US,Rate,Accommodation and food services,Not seasonally adjusted
48712,JTU23000000TSR,2011,M13,72.0,U,2000,M12,2015,M12,Total separations,Total US,Rate,Construction,Not seasonally adjusted
61506,JTU54009900HIR,2002,M13,71.6,U,2000,M12,2015,M12,Hires,Total US,Rate,Professional and business services,Not seasonally adjusted
68598,JTU70000000HIR,2014,M13,71.2,U,2000,M12,2015,M12,Hires,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
61545,JTU54009900HIR,2005,M13,71.2,U,2000,M12,2015,M12,Hires,Total US,Rate,Professional and business services,Not seasonally adjusted
47764,JTU23000000HIR,2012,M13,70.3,U,2000,M12,2015,M12,Hires,Total US,Rate,Construction,Not seasonally adjusted
73222,JTU72000000HIR,2014,M13,69.4,U,2000,M12,2015,M12,Hires,Total US,Rate,Accommodation and food services,Not seasonally adjusted
47686,JTU23000000HIR,2006,M13,69.4,U,2000,M12,2015,M12,Hires,Total US,Rate,Construction,Not seasonally adjusted
70858,JTU71000000HIR,2010,M13,69.3,U,2000,M12,2015,M12,Hires,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
61493,JTU54009900HIR,2001,M13,68.7,U,2000,M12,2015,M12,Hires,Total US,Rate,Professional and business services,Not seasonally adjusted
48725,JTU23000000TSR,2012,M13,68.3,U,2000,M12,2015,M12,Total separations,Total US,Rate,Construction,Not seasonally adjusted
61519,JTU54009900HIR,2003,M13,68.3,U,2000,M12,2015,M12,Hires,Total US,Rate,Professional and business services,Not seasonally adjusted
69559,JTU70000000TSR,2014,M13,68.0,U,2000,M12,2015,M12,Total separations,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
68585,JTU70000000HIR,2013,M13,67.6,U,2000,M12,2015,M12,Hires,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
48647,JTU23000000TSR,2006,M13,67.3,U,2000,M12,2015,M12,Total separations,Total US,Rate,Construction,Not seasonally adjusted
62506,JTU54009900TSR,2005,M13,67.2,U,2000,M12,2015,M12,Total separations,Total US,Rate,Professional and business services,Not seasonally adjusted
71819,JTU71000000TSR,2010,M13,67.1,U,2000,M12,2015,M12,Total separations,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
61532,JTU54009900HIR,2004,M13,66.8,U,2000,M12,2015,M12,Hires,Total US,Rate,Professional and business services,Not seasonally adjusted
62480,JTU54009900TSR,2003,M13,66.6,U,2000,M12,2015,M12,Total separations,Total US,Rate,Professional and business services,Not seasonally adjusted
61558,JTU54009900HIR,2006,M13,66.5,U,2000,M12,2015,M12,Hires,Total US,Rate,Professional and business services,Not seasonally adjusted
74183,JTU72000000TSR,2014,M13,66.3,U,2000,M12,2015,M12,Total separations,Total US,Rate,Accommodation and food services,Not seasonally adjusted
68572,JTU70000000HIR,2012,M13,66.1,U,2000,M12,2015,M12,Hires,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
73209,JTU72000000HIR,2013,M13,66.0,U,2000,M12,2015,M12,Hires,Total US,Rate,Accommodation and food services,Not seasonally adjusted
47777,JTU23000000HIR,2013,M13,65.6,U,2000,M12,2015,M12,Hires,Total US,Rate,Construction,Not seasonally adjusted
71806,JTU71000000TSR,2009,M13,65.2,U,2000,M12,2015,M12,Total separations,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
48660,JTU23000000TSR,2007,M13,64.7,U,2000,M12,2015,M12,Total separations,Total US,Rate,Construction,Not seasonally adjusted
62493,JTU54009900TSR,2004,M13,64.2,U,2000,M12,2015,M12,Total separations,Total US,Rate,Professional and business services,Not seasonally adjusted
73196,JTU72000000HIR,2012,M13,64.1,U,2000,M12,2015,M12,Hires,Total US,Rate,Accommodation and food services,Not seasonally adjusted

In [69]:
#look at 100 rows with rate by lowest
joined_all_df[(joined_all_df.ratelevel_text == 'Rate')].sort_values(by='value', ascending=True).head(100)

,series_id,year,period,value,seasonal,begin_year,begin_period,end_year,end_period,dataelement_text,region_text,ratelevel_text,industry_text,seasonal_text
71362,JTU71000000OSR,2005,M11,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
71304,JTU71000000OSR,2001,M05,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
99152,JTU81000000OSR,2009,M05,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
99151,JTU81000000OSR,2009,M04,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
99192,JTU81000000OSR,2012,M06,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
99150,JTU81000000OSR,2009,M03,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
99149,JTU81000000OSR,2009,M02,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
94420,JTU53000000OSR,2001,M01,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
71393,JTU71000000OSR,2008,M03,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
94421,JTU53000000OSR,2001,M02,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
99135,JTU81000000OSR,2008,M01,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
99223,JTU81000000OSR,2014,M11,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
94438,JTU53000000OSR,2002,M06,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
94528,JTU53000000OSR,2009,M05,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
87628,JTU51000000OSR,2012,M02,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Information,Not seasonally adjusted
94529,JTU53000000OSR,2009,M06,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
71415,JTU71000000OSR,2009,M12,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
94469,JTU53000000OSR,2004,M11,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
96746,JTU61000000OSR,2002,M02,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Educational services,Not seasonally adjusted
94434,JTU53000000OSR,2002,M02,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
99043,JTU81000000OSR,2000,M12,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
94456,JTU53000000OSR,2003,M11,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
48332,JTU23000000OSR,2012,M10,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Construction,Not seasonally adjusted
94568,JTU53000000OSR,2012,M06,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
99140,JTU81000000OSR,2008,M06,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
99163,JTU81000000OSR,2010,M03,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
71371,JTU71000000OSR,2006,M07,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,"Arts, entertainment, and recreation",Not seasonally adjusted
96845,JTU61000000OSR,2009,M10,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Educational services,Not seasonally adjusted
99233,JTU81000000OSR,2015,M08,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
99048,JTU81000000OSR,2001,M05,0.0,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99236,JTU81000000OSR,2015,M11,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
94488,JTU53000000OSR,2006,M04,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
87525,JTU51000000OSR,2004,M03,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Information,Not seasonally adjusted
50540,JTU30000000OSR,2004,M10,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Manufacturing,Not seasonally adjusted
87524,JTU51000000OSR,2004,M02,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Information,Not seasonally adjusted
50541,JTU30000000OSR,2004,M11,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Manufacturing,Not seasonally adjusted
48261,JTU23000000OSR,2007,M04,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Construction,Not seasonally adjusted
78311,JTU92000000OSR,2006,M11,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,State and local,Not seasonally adjusted
87519,JTU51000000OSR,2003,M10,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Information,Not seasonally adjusted
99161,JTU81000000OSR,2010,M01,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
99162,JTU81000000OSR,2010,M02,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
55163,JTU34000000OSR,2004,M09,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Nondurable goods manufacturing,Not seasonally adjusted
55165,JTU34000000OSR,2004,M11,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Nondurable goods manufacturing,Not seasonally adjusted
48265,JTU23000000OSR,2007,M08,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Construction,Not seasonally adjusted
87518,JTU51000000OSR,2003,M09,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Information,Not seasonally adjusted
99167,JTU81000000OSR,2010,M07,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
99234,JTU81000000OSR,2015,M09,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
55172,JTU34000000OSR,2005,M05,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Nondurable goods manufacturing,Not seasonally adjusted
55173,JTU34000000OSR,2005,M06,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Nondurable goods manufacturing,Not seasonally adjusted
94486,JTU53000000OSR,2006,M02,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
94483,JTU53000000OSR,2005,M12,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
99237,JTU81000000OSR,2015,M12,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
94482,JTU53000000OSR,2005,M11,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
55157,JTU34000000OSR,2004,M03,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Nondurable goods manufacturing,Not seasonally adjusted
99139,JTU81000000OSR,2008,M05,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Other services,Not seasonally adjusted
69110,JTU70000000OSR,2010,M06,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Leisure and hospitality,Not seasonally adjusted
52896,JTU32000000OSR,2008,M02,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Durable goods manufacturing,Not seasonally adjusted
94466,JTU53000000OSR,2004,M08,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted
52893,JTU32000000OSR,2007,M12,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Durable goods manufacturing,Not seasonally adjusted
94467,JTU53000000OSR,2004,M09,0.1,U,2000,M12,2015,M12,Other separations,Total US,Rate,Real estate and rental and leasing,Not seasonally adjusted

In [78]:
#Lets look at the dataelements a bit
joined_all_df.groupby(['dataelement_text']).agg(['count'])

,series_id,year,period,value,seasonal,begin_year,begin_period,end_year,end_period,region_text,ratelevel_text,industry_text,seasonal_text
,count,count,count,count,count,count,count,count,count,count,count,count,count
dataelement_text,,,,,,,,,,,,,
Hires,18940,18940,18940,18940,18940,18940,18940,18940,18940,18940,18940,18940,18940
Job openings,18100,18100,18100,18100,18100,18100,18100,18100,18100,18100,18100,18100,18100
Layoffs and discharges,14234,14234,14234,14234,14234,14234,14234,14234,14234,14234,14234,14234,14234
Other separations,12786,12786,12786,12786,12786,12786,12786,12786,12786,12786,12786,12786,12786
Quits,18940,18940,18940,18940,18940,18940,18940,18940,18940,18940,18940,18940,18940
Total separations,18940,18940,18940,18940,18940,18940,18940,18940,18940,18940,18940,18940,18940

In [ ]:
#create actual date fields from periods and year
#

In [60]:
joined_all_df

,series_id,year,period,value,seasonal,begin_year,begin_period,end_year,end_period,dataelement_text,region_text,ratelevel_text,industry_text,seasonal_text
0,JTS00000000HIL,2000,M12,5395.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
1,JTS00000000HIL,2001,M01,5801.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
2,JTS00000000HIL,2001,M02,5434.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
3,JTS00000000HIL,2001,M03,5619.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
4,JTS00000000HIL,2001,M04,5335.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
5,JTS00000000HIL,2001,M05,5358.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
6,JTS00000000HIL,2001,M06,5083.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
7,JTS00000000HIL,2001,M07,5173.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
8,JTS00000000HIL,2001,M08,5076.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
9,JTS00000000HIL,2001,M09,4961.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
10,JTS00000000HIL,2001,M10,5016.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
11,JTS00000000HIL,2001,M11,4887.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
12,JTS00000000HIL,2001,M12,4788.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
13,JTS00000000HIL,2002,M01,4900.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
14,JTS00000000HIL,2002,M02,4883.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
15,JTS00000000HIL,2002,M03,4626.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
16,JTS00000000HIL,2002,M04,4930.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
17,JTS00000000HIL,2002,M05,4923.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
18,JTS00000000HIL,2002,M06,4821.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
19,JTS00000000HIL,2002,M07,5014.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
20,JTS00000000HIL,2002,M08,4881.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
21,JTS00000000HIL,2002,M09,4870.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
22,JTS00000000HIL,2002,M10,4803.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
23,JTS00000000HIL,2002,M11,4941.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
24,JTS00000000HIL,2002,M12,4930.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
25,JTS00000000HIL,2003,M01,5008.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
26,JTS00000000HIL,2003,M02,4681.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
27,JTS00000000HIL,2003,M03,4444.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
28,JTS00000000HIL,2003,M04,4689.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
29,JTS00000000HIL,2003,M05,4618.0,S,2000,M12,2015,M12,Hires,Total US,Level - In Thousands,Total nonfarm,Seasonally adjusted
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101910,JTU91000000TSR,2013,M09,1.3,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101911,JTU91000000TSR,2013,M10,1.5,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101912,JTU91000000TSR,2013,M11,1.0,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101913,JTU91000000TSR,2013,M12,1.1,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101914,JTU91000000TSR,2013,M13,15.7,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101915,JTU91000000TSR,2014,M01,2.2,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101916,JTU91000000TSR,2014,M02,1.0,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101917,JTU91000000TSR,2014,M03,1.1,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101918,JTU91000000TSR,2014,M04,1.0,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101919,JTU91000000TSR,2014,M05,1.1,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101920,JTU91000000TSR,2014,M06,1.2,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101921,JTU91000000TSR,2014,M07,0.8,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101922,JTU91000000TSR,2014,M08,1.0,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101923,JTU91000000TSR,2014,M09,1.4,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101924,JTU91000000TSR,2014,M10,1.3,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101925,JTU91000000TSR,2014,M11,1.1,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101926,JTU91000000TSR,2014,M12,1.0,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101927,JTU91000000TSR,2014,M13,14.1,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101928,JTU91000000TSR,2015,M01,2.3,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101929,JTU91000000TSR,2015,M02,1.0,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101930,JTU91000000TSR,2015,M03,1.2,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101931,JTU91000000TSR,2015,M04,1.2,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101932,JTU91000000TSR,2015,M05,1.4,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101933,JTU91000000TSR,2015,M06,1.2,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101934,JTU91000000TSR,2015,M07,1.3,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101935,JTU91000000TSR,2015,M08,1.4,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101936,JTU91000000TSR,2015,M09,1.4,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101937,JTU91000000TSR,2015,M10,1.6,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101938,JTU91000000TSR,2015,M11,1.4,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted
101939,JTU91000000TSR,2015,M12,1.3,U,2000,M12,2015,M12,Total separations,Total US,Rate,Federal,Not seasonally adjusted